

My google cred
export GOOGLE_REDIRECT_URL="http://localhost:3000/google/callback"
export GOOGLE_CLIENT_ID="859339718701-pvvlufnvtjq6b6rorc9h8q1ll3cjo2gp.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="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"

MY facebook cred
export FACEBOOK_REDIRECT_URL="http://localhost:3000/callback"
export FACEBOOK_CLIENT_ID="1466761574069965"
export FACEBOOK_CLIENT_SECRET="7b49fb576d073f792da76bfca77e7f41"

//spotify
export SPOTIFY_REDIRECT_URL="http://localhost:3000/spotify/callback"
export SPOTIFY_CLIENT_ID="74af5f2a51de43b09b4f8804cdf11a64"
export SPOTIFY_CLIENT_SECRET="95b1594af874454d86ff45ee808b7b18"
